<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiyun.ipandatv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_ipnda"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".ui.activity.LookInfoActivity" />
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".ui.activity.AnimatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.Look_VideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            ></activity>
    </application>

</manifest>